<app-main-navbar [navTag]="navTag" (navMessageEvent)="receiveNavMessage($event)"></app-main-navbar>
<div class="container-fluid" style="padding-bottom: 10px; padding-top: 100px">
  <div class="row justify-content-center justify-content-lg-between flex-lg-row-reverse" style="padding: 10px; margin-top: 0px">
    <div class="col" style="background-color: #fff; border: 1px solid #ccc; box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);padding-bottom: 4px;padding-top: 18px; border-radius: 3px; margin: 5px">
      <table #dataTable id="dtLipaMdogo" class="display datatable nowrap" style="width: 100%">
      </table>
    </div>
  </div>
  <div>
  </div>
</div>
<ng-template #contentApproveSubscription let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-approve-approve">Approve</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <label>Approve Subscription</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button style="color: blue" type="button" class="btn btn-outline-primary" (click)="approveRejectSubscription(2)">Approve</button>
<!--    <button style="color: red" type="button" class="btn btn-outline-danger" (click)="approveRejectSubscription(3)">Reject</button>-->
  </div>
</ng-template>
<ng-template #contentRejectSubscription let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-approve-reject">Reject</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group">
          <label>Reject Subscription</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
<!--    <button style="color: blue" type="button" class="btn btn-outline-primary" (click)="approveRejectSubscription(2)">Approve</button>-->
    <button style="color: red" type="button" class="btn btn-outline-danger" (click)="approveRejectSubscription(3)">Reject</button>
  </div>
</ng-template>
<app-footer></app-footer>
