<div class="container" style="padding-left: 50px; padding-right: 50px">
  <div class="row gx-5 justify-content-center" >
    <div class="col-lg-5" *ngIf="!changePassword">
      <img class="center-block" style="width: 100px; height: 100px;" src="assets/img/kiakitu.svg">
      <div class="card" style="border-radius: 5px; cursor: pointer;
       box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); "  >
        <div class="card-body" style="padding: 25px">
          <h1 style="font-weight: bold">Recover Password</h1>
          <h5 style="font-size: 14px">Enter mobile phone number linked to your KilaKitu account.</h5>
          <form #signInForm="ngForm" style="margin-top: 20px">
            <div class="mb-3">
              <h5 class="card-title">Email phone number (254xxxxxxxxx)</h5>
              <input name="loginemail" type="text" class="form-control" id="formGroupExampleInput33"
                     #loginemail="ngModel"
                     [class.is-invalid]="loginemail.invalid && loginemail.touched" ngModel required>
            </div>

            <div class="mb-3">
              <button (click)="forgotPassword(signInForm)" [disabled]="signInForm.form.invalid" type="button" class="btn btn-success w-100" style="font-weight: normal; font-size: 14px">Continue</button>
            </div>
            <div class="mb-3">
              <h5 style="font-size: 12px">If you are having any problems with recovering you password please contact <a href="javascript:void(0)">254703729760</a> for assistance.</h5>
            </div>
          </form>
        </div>
      </div>
    </div >
    <div class="col-lg-5" *ngIf="changePassword">
      <img class="center-block" style="width: 100px; height: 100px;" src="assets/img/kiakitu.svg">
      <div class="card" style="border-radius: 5px; cursor: pointer;
       box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); "  >
        <div class="card-body" style="padding: 25px">
          <h1 style="font-weight: bold">Change Password</h1>
          <h5 style="font-size: 14px">Enter the OTP received in your phone and change password.</h5>
          <form #changePassForm="ngForm" style="margin-top: 20px">
            <div class="mb-3">
<!--              <h5 class="card-title">Email phone number (254xxxxxxxxx)</h5>-->
              <input name="otp" type="text" class="form-control" id="formGroupExampleInput334"
                     placeholder="OTP"
                     #otp="ngModel"
                     [class.is-invalid]="otp.invalid && otp.touched" ngModel required>
              <input name="newpassword" type="password" class="form-control" id="formGroupExampleInp;ut334"
                     placeholder="New Password"
                     #newpassword="ngModel" style="margin-top: 10px"
                     [class.is-invalid]="newpassword.invalid && newpassword.touched" ngModel required>
              <input name="confirmpassword" type="password" class="form-control" id="formGrooupExampleInp;ut334"
                     placeholder="New Password"
                     #confirmpassword="ngModel" style="margin-top: 10px"
                     [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched" ngModel required>
            </div>

            <div class="mb-3">
              <button (click)="recoverPassword(changePassForm)" [disabled]="changePassForm.form.invalid" type="button" class="btn btn-success w-100" style="font-weight: normal; font-size: 14px">Continue</button>
            </div>
            <div class="mb-3">
                <h5 style="font-size: 12px">If you are having any problems with recovering you password please contact <a href="javascript:void(0)">+254703729760</a> for assistance.</h5>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row gx-2 justify-content-center" >
    <div class="col-lg-12" style="margin-top: 10px">
      <hr>
      <div class="d-flex justify-content-between">
        <div>
          <h5 style="color: #666">Copyright &#169; 2023 KilaKitu.co.ke</h5>
        </div>
        <div>
          <h5><a href="javascript:void(0)" style="text-decoration: none">Privacy Policy</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
