::ng-deep .mat-bottom-sheet-container{
  min-width: 100vw!important;
}

.modal-header, h3,h4, .modal-body {
  font-family: Montserrat, sans-serif;
}

h3{
  color: brown;
}

.list-pic-col {
  aspect-ratio: 1/1;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;

button {
  background-color: whitesmoke;
  color: cornflowerblue;
  border-color: whitesmoke;
}
}

.list-pic-col2 {
  aspect-ratio: 1/1;

}

.card-img-overlay button {
  padding: 1px !important;
  font-size: 12px;
}

.custom-file-button2 input[type=file] {
  margin-left: -2px !important;
  height: 57px;
}

.custom-file-button2 input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button2 input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button2:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.default-img{
  width: 35px;
  height: 35px;
  margin-top: 0px
}


input, select, textarea, label {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

table.dataTable thead {background-color:blue !important;}

::ng-deep .cdk-overlay-container { z-index: 9999; }


.custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}
.dropdown {
  position: relative;
  left: 50px;
  top: 50px;
}
.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

/**/

.custom-file-button2 input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button2 input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button2 input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button2:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

::ng-deep .dropdown-btn{
  height: 57px;
  border: 1px solid #ccc !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #fff;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  font-family: Montserrat, sans-serif !important;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

::ng-deep .pac-container { z-index: 999999 !important; }

::ng-deep .pac-container .pac-item {
  font-family: Montserrat, sans-serif !important;
  padding: 5px !important;
}

.pac-container {
  z-index: 1000000 !important;
}

::ng-deep .multiselect-dropdown .dropdown-list {
  font-family: Montserrat, sans-serif !important;
}
