::ng-deep header .rd-navbar-main-outer{
  background-color: #545454 !important;
  color: black;
  font-size: 1.5em;
}

p {
  font-weight: bold;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}

table.datatable  {
  font-family: Montserrat , sans-serif !important;
  font-size: 14px;
}

.selected {
  background: gray !important;
}

tbody tr:not(.selected):hover {
  cursor: pointer !important;
  background: lightgray !important;
}
