@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("opentype");
}

nav {
  padding: 10px;
  font-family: Montserrat, serif;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

::ng-deep .cdk-overlay-container .custom-menu {
  margin-top: 1.5rem;
}

.nav-item .nav-link {
  font-family: Montserrat, serif;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
  font-size: 14px;
}

.active-list-item{
  color: #B97745 !important;
  border-bottom: 3px solid #B97745;
}

button {
  font-family: Montserrat, serif;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: none;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
