@font-face {
  font-family: "LexendDeca";
  src: url(../../assets/fonts/lexend/LexendDeca-VariableFont_wght.ttf) format("opentype");
}

h1,h2,h3,h4,h5,h6,p,button {
  font-family: LexendDeca, sans-serif;
}

input {
  border: 2px solid #ccc;
  font-size: 14px;
  font-family: LexendDeca, sans-serif;
}

.card-title {
  font-size: 13px;
  margin-bottom: 5px !important;
  font-weight: bold;
  font-family: LexendDeca, sans-serif;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-input {
  display: none;
  font-size: 12px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: LexendDeca, sans-serif;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
  margin-right: .55em;
}

.separator:not(:empty)::after {
  margin-left: .55em;
}
